<div >
    <section>
      <div class="text" ><b>CONTACT US</b></div>
      <ul class="bt">
           <li>
            <button mat-raised-button>
                <mat-icon>phone</mat-icon>
                <span>PHONE</span>
             </button>
           </li>
                <li>
                    
                    <button mat-raised-button>
                        <mat-icon>email</mat-icon>
                        <span>EMAIL</span>
                     </button>
                    </li>
                    <li>
                        <button mat-raised-button>
                            <mat-icon>chat</mat-icon>
                            <span>MESSAGE</span>
                         </button>
                        </li>
                        <li>
                            <button mat-raised-button>
                                <mat-icon>feedback</mat-icon>
                                <span>FEEDBACK</span>
                             </button>
                            </li>
                            <li>
                                <button mat-raised-button>
                                    <mat-icon>people</mat-icon>
                                    <span>ABOUT US</span>
                                 </button>
                                </li>
        
      </ul>
    </section>
  </div>